# Entorno virtual
venv/
.env

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de migraciones (si no quieres versionarlas)
core/migrations/*.py
!core/migrations/__init__.py

# Bases de datos locales
db.sqlite3

# Archivos de logs
*.log

# Archivos de IDE o editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos estáticos recolectados
staticfiles/

# Cualquier otro archivo que no quieras subir
.env